.node {
    width: 7vw;
    height: 7vw;
    border-radius: 50%;
    background-color: seagreen;
    position: absolute;
    left: 50vw;
    top: 50vh;
}

.vertical-axis,
.horizontal-axis {
  fill: none;
  stroke: #eee;
  stroke-width: 1px;
}

.path {
  fill: none;
  stroke: #555;
  stroke-width: 1px;
  stroke-linecap: round;
}
